.container{
	min-width: 700px;
}

.inputError {
	margin: 5px 0;
	color: red;
}

.hidden {
	display: none;
}

.marginDiv {
	margin: 10px 0;
}

.fromParent {
	width: 100%;
}

.tbody-hover tbody tr:hover {

	-moz-box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
	-webkit-box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
	box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
}



.tbody-hover a {
	color: #FFFFFF;
}
.tbody-hover a:link {
	text-decoration: none;

}

/*eye*/
.eye-size{
	height: 20px;
	width: 30px;
}
.eye {
	height: 15px;
	width: 30px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.eye:hover {
	height: 22px;
	width: 30px;
}














/*--------------------*/
.cont-bg {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#636363+0,595959+12,666666+25,474747+39,212121+49,2c2c2c+50,141414+51,111111+60,2b2b2b+76,1c1c1c+91,191919+100&0.95+0,0.88+100 */
	background: -moz-linear-gradient(top, rgba(99, 99, 99, 0.95) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.93) 25%, rgba(71, 71, 71, 0.92) 39%, rgba(33, 33, 33, 0.91) 49%, rgba(44, 44, 44, 0.91) 50%, rgba(20, 20, 20, 0.91) 51%, rgba(17, 17, 17, 0.9) 60%, rgba(43, 43, 43, 0.89) 76%, rgba(28, 28, 28, 0.88) 91%, rgba(25, 25, 25, 0.88) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(99, 99, 99, 0.95) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.93) 25%, rgba(71, 71, 71, 0.92) 39%, rgba(33, 33, 33, 0.91) 49%, rgba(44, 44, 44, 0.91) 50%, rgba(20, 20, 20, 0.91) 51%, rgba(17, 17, 17, 0.9) 60%, rgba(43, 43, 43, 0.89) 76%, rgba(28, 28, 28, 0.88) 91%, rgba(25, 25, 25, 0.88) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(99, 99, 99, 0.95) 0%, rgba(89, 89, 89, 0.94) 12%, rgba(102, 102, 102, 0.93) 25%, rgba(71, 71, 71, 0.92) 39%, rgba(33, 33, 33, 0.91) 49%, rgba(44, 44, 44, 0.91) 50%, rgba(20, 20, 20, 0.91) 51%, rgba(17, 17, 17, 0.9) 60%, rgba(43, 43, 43, 0.89) 76%, rgba(28, 28, 28, 0.88) 91%, rgba(25, 25, 25, 0.88) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2636363', endColorstr='#e0191919', GradientType=0); /* IE6-9 */
	min-height: 600px;
}

header, footer {
	margin: 5px 0;
	padding: 5px 5px;
	min-height: 50px;
	border: 1px solid;
}

header img, footer img {
	width: auto;
	height: 20px;
	margin: 0 5px;
}

.user-img {
	height: 40px;
}

.img-size {
	width: 200px;
	height: 200px;
}

.pic {
	border: 3px solid #6f6f6f;
	height: 200px;
	width: 200px;
	margin: 20px;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
}

/*FOCUS*/
.focus {
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.focus:hover {
	/*	-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);*/
	border: 10px solid #494949;
	border-radius: 50%;
}

/*404 page*/
.bg-404 {
	background: url("/m/img/404_bg.png") no-repeat top, center;
}

.btn-404-margin {
	margin-top: 100px;
}

.btn-404 {
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
	width: 300px;
	height: 50px;
	border: 2px solid #625A4E;
	border-radius: 5px;
	font-size: x-large;
	color: black;

	background: #f43210;
	background: -moz-linear-gradient(-45deg, #f43210 0%, #d6220a 16%, #ec4e36 50%, #d62710 81%, #d12919 100%);
	background: -webkit-linear-gradient(-45deg, #f43210 0%, #d6220a 16%, #ec4e36 50%, #d62710 81%, #d12919 100%);
	background: linear-gradient(135deg, #f43210 0%, #d6220a 16%, #ec4e36 50%, #d62710 81%, #d12919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f43210', endColorstr='#d12919', GradientType=1);

	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.btn-404:hover {
	margin-top: -5px;
	text-decoration: none;
	width: 360px;
	height: 70px;
	font-size: xx-large;
}

.bg-404 a:link {
	text-decoration: none;
}

/*Card deck*/
.size {
	height: 8000px;
}

.card-deck {
	height: 400px;
	width: 400px;
	position: relative;
	margin-top: 50px;
	overflow: auto;

}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.card1 {
	background: #1e7e34;
	margin-top: 0px;
	z-index: 50;
	opacity: 1;
}

.card2 {
	background: #7e0800;
	margin-top: 0px;
	opacity: 0.7;
	z-index: 49;
}

.card3 {
	background: #ff00e5;
	opacity: 0;
	z-index: 48;
}