.container{
	min-width: 700px;
}

header, footer {
	margin: 5px 0;
	padding: 5px 10px;
	min-height: 30px;
	border: 1px solid;
}

.inputError {
	margin: 5px 0;
	color: red;
}

.hidden {
	display: none;
}

.marginDiv {
	margin: 10px 0;
}

.fromParent {
	width: 100%;
}

.tbody-hover tbody tr:hover {

	-moz-box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
	-webkit-box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
	box-shadow:0 0 20px rgba(20, 255, 0, 0.55);
}



.tbody-hover a {
	color: #FFFFFF;
}
.tbody-hover a:link {
	text-decoration: none;

}

/*eye*/
.eye-size{
	height: 20px;
	width: 30px;
}
.eye {
	height: 15px;
	width: 30px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.eye:hover {
	height: 22px;
	width: 30px;
}